{% include 'nav.html' %}
<div class="main">
{% block content %}

<div class="">
		<div class="mr-sm-2 mb-2 col-sm-8" style="margin: 10px;background-color:#2ECC71;color:#9575CD">
			<form action="{{ url_for('addMobileDetails',smname=smname)}}" method="POST">
				<div class="panel panel-primary">
				  <div class="panel-heading bg-success" style="background-color:#CCFFFF;color:black;">Add Mobile Details</div>
				  <div class="panel-body">
				  	
					  <div class="form-group">
					  	<label class="text-primary" for="name">Enter Mobile Name:</label>
					    <input type="name" class="form-control" name="name" placeholder="Enter Mobile Name:" required>
					  </div>
					  <div class="form-group">
					  	<label class="text-primary" for="name">Enter Color Of Mobile:</label>
					    <input type="name" class="form-control" name="color" placeholder="Enter Color Of Mobile:"  required>
					  </div>
					  <div class="form-group">
					  	<label class="text-primary" for="name">Enter RAM Of Mobile:</label>
					    <input type="name" class="form-control" name="ram" placeholder="Enter RAM Of Mobile:"  required>
					  </div>
					  <div class="form-group">
					  	<label class="text-primary" for="year">Enter Internal Memory Of Mobile:</label>
					    <input type="text" class="form-control" name="memory" placeholder="Enter Memory of Mobile:" required>
					  </div>
					  <div class="form-group">
					  	<label class="text-primary" for="color">Enter Front Camera Pixels:</label>
					    <input type="text" class="form-control" name="frontcamera" placeholder="Enter FrontCamera Pixels:"  required>
					  </div>
					  <div class="form-group">
					  	<label class="text-primary" for="color">Enter Rear Camera Pixels:</label>
					    <input type="text" class="form-control" name="rearcamera" placeholder="Enter RearCamera Pixels:"  required>
					  </div>
					  <div class="text-primary" class="form-group">
					  	<label for="cc">Enter Price Of Mobile</label>
					    <input type="text" class="form-control" name="price" placeholder="Enter Price Of Mobile" required>
					  </div>
					  <div class="form-group">
					  	<label class="text-primary" for="price">Enter Screensize Of Mobile:</label>
					    <input type="text" class="form-control" name="screen" placeholder="Enter Screensize Of Mobile:"  required>
					  </div>
					  <div class="form-group">
					  	<label class="text-primary" for="price">Enter Buy Link Of Mobile:</label>
					    <input type="text" class="form-control" name="slink" placeholder="Enter Slink Of Mobile:"  required>
					  </div>
					  <div class="form-group">
					    <input type="text" class="form-control " name="sernameid" value=
						"{{ smname }}" readonly>
					  </div>
				  </div> 
				  <div class="panel-footer text-center" style="background-color:#CCFFFF;"><input type="submit" class="btn btn-primary" value="Submit"></div>
				</div>
				</form>
			</div>
</div>
{% endblock content %}