{% include 'nav.html' %}
<div class="main">
{% block content %}
    
	<div class="">
		<div class="d-flex justify-content-center">
			<div class="card" style="width: 38rem;background-color:#FF0033;color:#FF0000;">
		<form action="{{url_for('deleteSeries',scid=pt.id)}}" method="POST">
			<div class="card-body bg-info">
				<h2 class="card-text">Are you sure you want to delete this Mobile Series {{pt.name}}</h2>
			</div>
			<div class="card-footer d-flex justify-content-center">
				<input type="submit" class="btn btn-danger" value="Delete" style="margin-right: 10px;">
			    <button type="button" class="btn btn-warning"><a href="/home">Cancel</a></button>
			</div>
			
		</form>
	</div>
		</div>
		
	</div>
	{% endblock content %}